name: Build Ryi with nob

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up build environment
        run: |
          sudo apt update
          sudo apt install -y git cmake gcc g++ libglfw3-dev libgl1-mesa-dev libxi-dev libxrandr-dev

      - name: Clone raylib
        run: |
          git clone https://hexaredecimal:${{ secrets.GITHUB_TOKEN }}@github.com/raylib/raylib.git
          cd raylib
          mkdir build
          cd build
          cmake ..
          make
          sudo make install

      - name: Build your app
        run: cc nob.c -o nob

      - name: Run your app
        run: ./nob
